body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.components {
  padding-top: 128px;
  padding-bottom: 128px;
}
.components__title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 283px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #111111;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    width: 411px;
  }
}
.components__span {
  color: #fd9222;
}
.components__text {
  width: 335px;
  margin: 24px auto 32px;
  font-family: Montserrat, sans-serif;
  line-height: 1.29;
  text-align: center;
  color: #111111;
  @media screen and (min-width: 768px) {
    width: 486px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.ingredients {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 32px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 19px;
  }
}
.ingredients__item {
  position: relative;
  width: 100%;
  height: 270px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}
.ingredients__item:nth-child(1) {
  background-color: #fd9222;
  background-image: url(./image/choco-milk-sec2-1x-desktop.png);
}
.ingredients__item:nth-child(2) {
  background-color: #fff;
  border: 1px solid #fd9222;
  background-image: url(./image/milk-sec3-1x-desktop.png);
}
.ingredients__item:nth-child(3) {
  background-color: #1e1823;
  background-image: url(./image/nuts-sec3-1x-desktop.png);
}
.ingredients__item:nth-child(4) {
  background-color: #fff;
  background-image: url(./image/semi-sw-choco-sec3-1x-desktop.png);
  border: 1px solid #fd9222;
}
.ingredients__name {
  position: absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  left: 28px;
  bottom: 28px;
}
.ingredients__name--black {
  color: #111111;
}
.ingredients__name--white {
  color: #fff;
}

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    /* column-gap: 124px; */
  }
  @media screen and (min-width: 1200px) {
    column-gap: 543px;
  }
}
.footer__title {
  width: 256px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.21;
  }
}
.footer__span {
  color: #fd9222;
}
.information {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 113px;
  align-items: center;
  align-items: start;
  @media screen and (min-width: 768px) {
    column-gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 63px;
  }
}
.address__text {
  margin-bottom: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
.contacts::after {
  content: "";
  display: block;
  width: 100%;
  color: #ffffff19;
  margin-top: 32px;
}
.contacts__link {
  display: block;
  margin-bottom: 4px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
.socials {
  display: flex;
  column-gap: 14px;
  @media screen and (min-width:768px) {
    column-gap: 18px;
  }
}
.socials__svg {
  width: 22px;
  height: 22px;
  fill: #fff;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
.navigation {
  margin-top: 32px;
  display: flex;
  row-gap: 18px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    flex-direction: row;
    column-gap: 24px;
  }
}
.navigation__link {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
}
